build/
.gradle/
gradle/


.idea/
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml


/local.properties


.DS_Store


/build
/captures
.externalNativeBuild
.cxx


local.properties


gradle.properties

gradle/wrapper/
gradlew
gradlew.bat

.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml